@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    font-family: 'Hind', sans-serif;
}

/*cart scrollbar */
#cart-div ::-webkit-scrollbar {
    display: none;
}

#wishlist-container::-webkit-scrollbar {
    display: none;
}

#admin-products-container::-webkit-scrollbar {
    display: none;
}
